<div class="center jumbotron">
<% provide(:title, "Home") %>
<h1>Welcome to the Demo Blog</h1>
<h2>
  This is the home page for the
  <a href="http://www.railstutorial.org/">Ruby on Rails Tutorial</a>
  demo blog.
</h2>

<%= link_to "Sign up now!", '#', class: 'btn btn-lg btn-primary' %>
</div>
