<!-- <%# @comments.each do |comment| %>
  <div>
    <%#= comment.content%>
  </div>
<%# end %> -->

<!-- Comment with nested comments -->
<div class="media mb-4">
  <div class ="media-left">
    <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
  </div>
  <div class="media-body">
    <div class="media-heading">
      <h5 class="mt-0">Commenter Name</h5>
    </div>
      <%= comment.content %>
  </div>
</div>
